<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock, Scissors, Paper!</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href ="/">Welcome</a></li>
      </ul>
    </nav>
    <%= yield %>
    
  </body>
  <footer>All rights reserved by Smack-Tastic Games&copy; 2017</footer>
</html>
