<h1>Welcome to the Greatest Competition on the Face of the Planet!</h1>
<p></p>
<h2> Two contestants meet on the battlefield...<br> .... Only one will leave... A CHAMPION!</h2>
<p> Welcome to the game of Rock, Paper and Scissors. This is often misrepresented
 as a simple game of chance. With easy to learn rules, unleash your powers of
deduction and win with your higher understanding of Game Theory.</p>
<p> To enter this time immemorial competition, simply enter the following onto
  our illustrious address bar.<br> Like so...</p>
<img src = "/gameplay.png"/>
  <p> - This will show you an
  unfortunate draw, at which the pair battling it out will need to repeat their
  bout.</p>
<p> Now go forth, enter your choice of rock, scissors or paper and battle like your forefathers
  did before you!</p>
  <h3>Vae Victis!</h3>
<img src = "/fabio.jpg" alt="Fabio the Great and Wise"/>
